* {
    margin: 0;
    padding: 0;
    /* outline: 1px solid black; */
}


.row {
    background-color: rgb(255, 0, 0);
    display: flex;
    font-size: 40px;
}

.col, .col-2, .col-3{
    flex: 1;
    padding: 20px;
    margin: 10px;
    background-color: aquamarine;
}

