/* CSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
      
  /* Fixed width container class that will "auto-center" itself */
  .container {
    width: 1200px;
    margin: 20px auto;
  }

.row {
    background-color: rgb(255, 0, 0);
    display: flex;
    font-size: 40px;
}

.col, .col-2, .col-3{
    flex: 1;
    padding: 20px;
    margin: 10px;
    background-color: aquamarine;
} 

